/* ----------------------------------SELECTEUR GENERAL------------------------------------ */
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
}

header, .design, .produit, .model, footer, form{
    display: flex;
}

#accueil p, #accueil a, .btn_achat, label{
    font-weight: bold;
}

#accueil, #contact{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.produit, .design, footer{
    align-items: center;
    justify-content: center; 
}

footer, .model, form{
    flex-direction: column;
}

/*--------------------------------------HEADER------------------------------------------------------ */
header{
    justify-content: space-evenly;
    background-color: #E4E2DD;
    position: sticky;
    top: -3px;
    z-index: 1;
    margin-top: -10px;
}

.nav{
    margin-top: 30px;
}

.nav a{
    text-decoration: none;
    color: #63532d;
    font-size: 20px;
    margin-right: 20px;
}

/*---------------------------------------------ACCUEIL-------------------------------------------------*/

#accueil{
    background-image: url(/images/accueil.jpg);
    height: 1024px;
}

.text{
    background-color: rgba(0, 0, 0, 0.441);
    width: 800px;
    height: 1024px;
    position: absolute;
    margin-left: -15px;
}

.cover{
    margin-top: 200px;
    margin-left: 100px;
}

#accueil p{
   color: white;
   font-size:95px;
   width: 500px;
   margin-left: 39px;
}

#accueil a{
    font-size: 25px;
    color: white;
    margin-left: 100px;
    text-decoration: none;
    padding: 8px;
}

#accueil a:hover{
    background-color: #E4E2DD ;
    border-radius: 4px;
    font-size: 30px;
    transition: 0.5s;
    color: black;
}

/*----------------------------------------------------------------NOS MODELS--------------------------------------------------------- */
.produit p{
   width: 280px;
}

.produit{
    flex-wrap: wrap;
    background-color: #E4E2DD;
    padding-top: 50px;
    padding-bottom: 50px;
}

.design1 h1{
    font-size: 90px;
    color: #7a6532;
    margin-left: -50px;
}

.design{
    flex-wrap: wrap;
    margin-top: 90px;
}
.model{
    padding-bottom: 60px;
}

.model img:hover{
    width: 350px;
    transition-duration: 0.5s;
}

.model img{
    width: 300px;
    margin-right: 30px;
}

.model a{
    margin-bottom: 30px;
}


.btn_achat{
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: #887445;
    border-radius: 5px;
    margin-left: 70px;
    font-size:10px;
    width: 125px;
}

.btn_achat:hover{
    font-size: 15px;
    width: 185px;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.846);
}

.plus{
    text-decoration: none;
}
/*----------------------------------------------------------PARTIE CONTACT----------------------------------------------------------------*/

#contact{
    margin-top: -25px;
    background-image: url(/images/accueil1.jpg);
    height: 800px;
}

.form p{
    text-align: center;
    font-size: 25px;
    margin: 20px auto;
}

.form{
    position: absolute;
    margin-top: 150px;
    width: 1500px;
}

form{
    width: 500px;
    margin: 20px auto;
    background-color: #e4e2dd82;
    box-shadow: rgba(0, 0, 0, 0.511);
    padding: 30px;
}

input{
    background-color: rgba(255, 255, 255, 0.659);
    border-radius: 2px;
}

.btns{
    width: 100px;
    margin: 10px auto;
    padding-top: 2px;
}

/*-------------------------------------------------------MON FOOTER----------------------------------------------------------------- */

footer{
    margin-top: 50px;
}

.fonts{
    width: 450px;
    padding-left: 20px;
    margin-bottom: 80px;
}

.fonts img{
    width: 30px;
    margin-right: 50px; 
}

/*--------------------------------------------------------LES MEDIAS QUERIES-----------------------------------------------------------*/


                                         /*******************EXTRA SMALL DEVICES**********************/

 
 @media (max-width: 576px) 
 { 
    header .nav{
        display: none;
    }
/* -------------------------------accueil------------------------------ */
    #accueil{
        height: 670px;
        width: 550px;
    }

    .text{
        width: 285px;
        height: 670px;
    }

    #accueil p{

       font-size:45px;
       width: 220px;
       margin-left: -50px;
    }

    #accueil a{
        font-size: 10px;
        color: rgb(246, 239, 162);
        margin-left: -35px;
    }

    #accueil a:hover{
        border-radius: 4px;
        font-size: 12px;
    }

   /* -------------------------------nos models------------------------------ */

    .design1 h1{
        font-size: 50px;
        margin-left: -5px;
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .design{
        margin-top:-10px ;
    }
    .model{
        margin-left: 10px;
    }

   /* -------------------------------contact------------------------------ */
    #contact{
        height: 700px;
        width: 500x;
    }

    .form p{
        text-align: center;
        font-size: 20px;
        width: 400px;
    }
    
    .form{
        position: absolute;
        margin-top: 80px;
        width: 480px;
    }
    
    form{
        width: 300px;
        padding: 20px;
    }

    .fonts{
        padding-left: 40px;
        width: 480px;
    }
 } 
                                            /***********************SMALL DEVICES (landscape phones, 576px and up)**************************/


	@media (min-width: 576px) and (max-width: 768px) 
    { 
        header .nav{
            display: none;
        }
   /* -------------------------------accueil------------------------------ */
        #accueil{
            width: 749px;
            height: 670px;
        }
    
        .text{
            height: 670px;
            width: 380px;
        }
    
        #accueil p{
           font-size:60px;
           width: 290px;
           margin-left: -35px;
           margin-top: -50px;
        }
    
        #accueil a{
            font-size: 15px;
            margin-left: -10px;
            margin-top: 40px;
        }
    
        #accueil a:hover{
            border-radius: 4px;
            font-size: 12px;
        }
 
     /* -------------------------------nos models------------------------------ */
    
        .design1 h1{
            font-size: 70px;
            margin-left: -5px;
            margin-top: 50px;
        }
        .model{
            margin-left: 10px;
        }
     /* -------------------------------contact-------------------------------- */
        #contact{
            height: 700px;
            width: 500x;
        }
    
        .form p{
            font-size: 20px;
            width: 500px;
        }
        
        .form{
            margin-top: 80px;
            width: 749px;
        }
        
        form{
            width: 400px;
            padding: 18px;
        }

        .btns{
            margin-left: 130px;
        }
       
        .fonts{
            padding-left: 40px;
            width: 480px;
        }
        
    } 
                                                /****************************MEDIUM DEVICES  (tablets, 768px and up)**********************************/


	@media (min-width: 768px) and (max-width: 992px)  
    {
        /* -------------------------------accueil------------------------------ */
        header .navbar{
            display: none;
        }

        #accueil{
            width: 970px;
            height: 670px;
        }
    
        .text{
            height: 670px;
            width: 500px;
        }
    
        #accueil p{
           font-size:70px;
           width: 390px;
           margin-left: -18px;
           margin-top: -90px;
        }
    
        #accueil a{
            font-size: 15px;
            margin-left: 40px;
            margin-top: 40px;
        }
    
        #accueil a:hover{
            border-radius: 4px;
            font-size: 12px;
        }
     /* -------------------------------nos models------------------------------ */
    

        .design1 h1{
            font-size: 90px;
            padding-bottom: 40px;
            margin-left: -50px;
        }

        .design{
            margin-top: -1px;
        }
        .model{
            margin-left: 10px;
            
        }
    
     /* -------------------------------contact------------------------------ */
        #contact{
            height: 700px;
            width: 500x;
        }
    
        .form p{
            font-size: 20px;
            width: 500px;
        }
        
        .form{
            margin-top: 80px;
            width: 974px;
        }
        
        form{
            width: 400px;
            padding: 18px;
        }

        .btns{
            margin-left: 130px;
        }
       
        .fonts{
            padding-left: 40px;
            width: 480px;
        }
    } 
                                                    /****************************LARGE DEVICES  (desktops, 992px and up) **********************************/



	@media (min-width: 992px) and (max-width: 1200px)  
    {
        /* -------------------------------accueil------------------------------ */
        header .navbar{
            display: none;
        }

        #accueil{
            width: 1500px;
            height: 780px;
        }
    
        .text{
            height: 780px;
            width: 550px;
        }
    
        #accueil p{
           font-size:75px;
           width: 400px;
           margin-left: -1px;
           margin-top: -50px;
        }
    
        #accueil a{
            font-size: 15px;
            margin-left: 60px;
            margin-top: 40px;
        }
    
        #accueil a:hover{
            border-radius: 4px;
            font-size: 12px;
        }
    
        /* -------------------------------nos models------------------------------ */
      
        .design1 h1{
            font-size: 110px;
            margin-top: 10px;
            margin-left: 55px;
        }
    
        .model{
            margin-left: 10px;
        }
            
        /* -------------------------------contact------------------------------ */
        #contact{
            height: 700px;
            width: 500x;
        }
    
        .form p{
            font-size: 20px;
            width: 500px;
        }
        
        .form{
            margin-top: 80px;
            width: 1200px;
        }
        
        form{
            width: 400px;
            padding: 18px;
        }

        .btns{
            margin-left: 130px;
        }
       
        .fonts{
            padding-left: 40px;
            width: 480px;
        }
    } 
                                               /**************************** EXTRA LARGE DEVICES  (large desktops, 1200px and up)  **********************************/


	@media (min-width: 1200px) 
    { 
         /* -------------------------------accueil------------------------------ */
        header .navbar{
            display: none;
        }

        #accueil{
            width: 1519px;
            height: 1024px;
        }
    
        .text{
            height: 1024px;
            width: 700px;
        }
    
        #accueil p{
           font-size:85px;
           width: 500px;
           margin-left: 40px;
        }
    
        #accueil a{
            font-size: 20px;
            margin-left: 100px;
            margin-top: 90px;
        }
    
        #accueil a:hover{
            border-radius: 9px;
            font-size: 21px;
            background-color: #e88989 
        }
    
      /* -------------------------------nos models------------------------------ */
        
      /* -------------------------------contact------------------------------ */
        #contact{
            height: 700px;
            width: 700x;
        }
    
        .form p{
            font-size: 25px;
            width: 600px;
        }
        
        .form{
            margin-top: 80px;
            width: 1390px;
        }

        .btns{
            margin-left: 130px;
        }
    } 




    /* description des choix de conception faits au cours du processus d’élaboration. */

    /* 
    
    1) utilisation du framework boostrap m'a permis de rendre ma page plus reactive 
     et j'ai pu egalelement utiliser la class container fluid pour faciliter la conception de la navbar


    2) l'utilisation des medias queries m'ont permis de mieux ciblier les elements que
     je devais toucher pour chaque taille d'ecran. j'ai trouver ca plus facile a faire 

    
    3) l'utilisation de la icone de la bibliotheque font awesome, un vrai soulagement.
     les icones sont parfaites et on peut les inserer comme on veut et c'est facile de les styliser,
      comparer au image png qu'on telecharge sur google 
      

    4) j'ai opter pour les images sur pixabay parce que les images sont de bonnes qualites,
     une parfaite resolution et assez d'images aussi qui permet vraiment d'avoir a peu pret tout ce qu'on recherche

    
    */